.user-container{
    color: #c5c5c5;
    padding: 5vh;
    h1{
        font-size: 75px;
        font-weight: bold;
    }
}

.log-out-button{
    background-color: #7e7e7e;
    color: #c5c5c5;
    height: 7vh;
    float: right;
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    border-radius: 2vh;
}

.log-out-button:hover{
    scale: 1.1;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.liked-games{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3vw;
    li{
        list-style: none;
    }
}
